<div class="col-xs-12 col-sm-6">
  <div class="team">
    <h1>My team</h1>
    <ul>
      <li>Pierre</li>
      <li>Paul</li>
      <li>Jacques</li>
    </ul>
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="contact">
    <h1>Contact</h1>
    <ul>
      <li>Tel : 05-05-05-05-05</li>
      <li>Adresse : 12 rue des fleurs, Paris, 75002</li>
      <li>Mail : moi@moi.fr</li>
    </ul>
  </div>
</div>
